<div class="w-full p-4 bg-white border rounded-lgshadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 mt-20">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Commit List</h5>
   </div>
   <div class="flow-root">
        <ul *ngFor="let element of commitList;" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <h3>{{element.date}}:</h3>
            <li *ngFor="let el of element.commits;" class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="https://github.com/images/error/octocat_happy.gif" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{ el.author }}
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ el.message }}
                        </p>
                    </div>
                    <!--<div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        $320
                    </div>-->
                </div>
            </li>
        </ul>
   </div>
</div>
